<div class="text-center p-5">
    <h2>Add product Form</h2>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="product_name">Product name:</label>
        <input type="text" id="product_name" formControlName="product_name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Product Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
        <label for="price">Price</label>
        <input type="number" id="price" formControlName="price" min="1" max="500">
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-sm btn-primary ms-1" type="button" (click)="back()">
            Cancel
        </button>
        <button class="btn btn-sm btn-primary" type="submit" [disabled]="productForm.invalid">
            Submit form
        </button>
    </div>
</form>